.hero {
  min-height: 100vh;
  background: linear-gradient(
      135deg,
      rgba(30, 58, 138, 0.85) 0%,
      rgba(30, 64, 175, 0.45) 100%
    ),
    url("../image/school.jpg") center center/cover no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  }

.hero-container {
  flex: 1;
  max-width: 600px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.hero-title {
  font-size: 50px;
  font-weight: 700;
  margin-top: 16px;
}
.hero-title:hover {
  color: aqua;
  transition: all 0.3s ease;
}

.hero-subtitle {
  font-size: 19px;
  margin-bottom: 32px;
}
.hero-subtitle:hover {
  color: aqua;
  transition: all 0.3s ease;
}

.hero-buttons {
  display: flex;
  gap: 16px;
}
#btn {
  padding: 12px 30px;
  border-top: none;
  border-right: 2px dashed;
  border-left: 2px dotted;
  border-bottom: double;

  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}

.btn-primary {
  background-color: #60a5fa;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0073ff;
  color: aqua;
}

.btn-secondary {
  background: transparent;
  color: #fff;
  border: 2px solid #ffffff;
}

.btn-secondary:hover {
  background: #ffffff;
  color: blue;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.floating-card {
  background-color: rgba255, 255, 255, 0.1;
  backdrop-filter: blur(10px);
  border: 1px solidrgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

.floating-card:hover {
  backdrop-filter: none;
}

.floating-card i {
  font-size: 48px;
  color: lightblue;
  margin-bottom: 16px;
}

.floating-card h3 {
  font-size: 24px;
  margin-bottom: 8px;
}
